__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pyo
*.pyd
.Python

.vscode/
.ipynb_checkpoints/
.env
*.ipynb

logs/
*.log

# Data files
data/*.csv
data/*.parquet
data/*.feather

airflow.db
unittests.cfg

.DS_Store
